@use "global" as *;

.blog__card {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    display: block;
    width: calc(33.3333% - 2.5rem * 2 / 3);
    
  }
}


.blog__card:hover .card__texts {
  background-color: #333333;
  transition: 0.3s;
}
.blog__card:hover .card__img img {
  transform: scale(1.2);
  transition: all 0.5s;
}

.card__img{
  overflow: hidden;
  transition: all 0.5s;
}

.blog__card + .blog__card {
  margin-top: rem(20);
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    margin-left: rem(25);
    margin-top: 0;
  }
}

.blog__card:nth-child(n + 4) {
  margin-top: rem(25);
}
.low__blog .blog__card:nth-child(n + 4) {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    margin-top: rem(54);
  }
}

.blog__card:nth-child(3n + 1) {
  margin-left: 0;
}

.blog__card:hover .card__title h2 {
  color: #ffffff;
}
.blog__card:hover .card__text p {
  color: #ffffff;
}
