@use "global" as *;

.blog.section--contents {
  margin-top: rem(93);
  position: relative;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    margin-top: rem(210);
  }
}

.blog.section--contents::before {
  content: "";
  width: 94.6875%;
  height: rem(650);
  position: absolute;
  top: rem(-35);
  left: 0;
  background-image: none;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    height: rem(1212);
    top: rem(-99);
  }
}

.blog__inner {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    margin-top: rem(221);
  }
}

.blog__new-icon {
  width: rem(69);
  height: rem(60);
  position: absolute;
  top: rem(-20);
  left: rem(-3);
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    width: rem(69);
    height: rem(60);
    position: absolute;
    top: rem(-20);
    left: rem(-3);
  }
}
