@use "global" as *;

.card__text p {
  line-height: 1.857;
  font-size: rem(14);
  font-weight: 300;
  letter-spacing: rem(1);
  color: #333333;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    font-size: rem(14);
  }
}
