@use "global" as *;

.card__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: rem(13);
  margin-top: auto;
}
.card__flex p {
  font-size: rem(14);
  background-color: #ffea2e;
  line-height: 1.857;
  padding: rem(1) rem(6.5);
  display: inline-block;
  margin-top: rem(4);
  color: #000000;
}

.card__flex time {
  font-size: rem(14);
  color: #333333;
  letter-spacing: 0.1em;
}

.blog__card:hover .card__flex time {
  color: $white;
}
