@use "global" as *;

.company {
  margin-top: rem(85);
  padding: 0 rem(20);
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    margin-top: rem(115);
  }
}

.company dl {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    flex-flow: row wrap;
    background-color: transparent;
  }
  display: flex;
  width: 100%;
  color: #fff;
  max-width: rem(1100);
  margin-left: auto;
  margin-right: auto;
  flex-flow: column;
}
.company dt {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    background-color: transparent;
    font-size: rem(16);
  }
  flex-basis: 15%;
  padding: rem(20);
  border-bottom: none;
  font-size: rem(20);
}
.company dd {
  width: 100%;
  padding: rem(10) rem(20);
  border-bottom: 1px solid #ccc;
  flex-basis: 85%;
  line-height: 2;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    max-width: rem(935);
    padding: rem(20);
    
  }
}
.company-margin{
  margin-top: rem(20);
}