@use "global" as *;

.content__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content__text p {
  font-size: rem(20);
  font-weight: 300;
  color: $white;
  letter-spacing: rem(2);
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    font-size: rem(25);
    letter-spacing: rem(2);
  }
}
.content__text-nowrap {
  white-space: nowrap;
}
