@use "global" as *;

.contact__contents {
  text-align: center;
  color: #ffffff;
  padding-top: rem(67);
  padding-bottom: rem(64);
  @include mq("md") {
    padding-top: rem(67);
    padding-bottom: rem(64);
    font-size: vw(strip-unit($inner), 10);
    padding-bottom: rem(149);
    padding-top: rem(148);
  }
}
