@use "global" as *;

.footer__inner {
  display: flex;
  width: 100%;
  margin-top: rem(34);
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    display: flex;
    justify-content: space-between;
    padding: 0 rem(32);
    margin-top: rem(38);
    height: inherit;
  }
}

