@use "global" as *;

.group__title {
  margin-top: rem(17);
  font-size: rem(16);
  font-weight: 300;
  color: $white;
  letter-spacing: 0;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    margin-top: 0;
    margin-left: rem(61);
    font-size: rem(16);
    letter-spacing: rem(0.1);
    max-width: rem(570);
    min-width: rem(570);
  }
}
.group__title:hover {
  margin-top: rem(17);
  font-size: rem(16);
  font-weight: 300;
  color: $white;
  letter-spacing: 0;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    margin-top: 0;
    margin-left: rem(61);
    font-size: rem(16);
    letter-spacing: rem(0.1);
    max-width: rem(570);
    border-bottom: 2px ridge $white;
    transition: all 0.5s;
  }
}

.group__title.contact__group:hover {
  color: yellow;
  transition: all 0.1s;
  border-bottom: none;
  font-size: rem(16);
  letter-spacing: rem(0.1);
}
