@use "global" as *;

.header {
  background: (rgba(17, 17, 17, 0.5));
}
.low__header {
  background-color: $black;
}
.headerColorScroll {
  background-color: $black;
  position: fixed;
  transition: all 0.3s;
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 rem(22);
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    justify-content: space-between;
    padding: 0 rem(31);
    padding-right: 0;
  }
}

.header__logo {
  width: rem(70);
  height: rem(39);

  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);

    height: inherit;
    display: flex;
    align-items: center;
    width: rem(95);
    height: rem(31);
  }
}
