@use "global" as *;

.low__blog__card:nth-child(n + 4) {
  margin-top: rem(48);
}

.low__blog__card {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    display: block;
    width: calc(33.3333% - 2.5rem * 2 / 3);
  }
}

.low__blog__contents {
  margin-top: rem(40);
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    margin-top: rem(47);
  }
}
.blog.section--contents.low__blog {
  margin-top: rem(37);
  position: relative;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
   margin: 0;
  }
}

.low__blog .blog__cards{
  margin-top: rem(44);
}