@use "global" as *;

// 詳細ページネーション
.page_link {
  color: #fff;
  width: 100%;
}
.link_inner {
  margin-top: rem(50);
}
.link_flex {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    font-size: rem(20);
  }
  font-size: rem(16);
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: rem(600);
}
.link_archive {
  text-align: center;
  font-size: rem(15);
  margin-top: rem(30);
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    font-size: rem(20);
  }
}
.link_archive:hover {
  opacity: 0.5;
}
