@use "global" as *;

.philosophy__contents {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
  }

  margin-left: auto;
  margin-right: auto;
  max-width: 8rem (1280);
}

.philosophy__content {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);

    width: 50%;
  }
  color: aliceblue;
  padding: 0 rem(20);
  position: relative;
}

.p-inner {
  padding: 0 rem(20);
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    padding: 0;
    display: flex;
  }
  flex-wrap: wrap;
}

.p-title__contents {
  margin-left: auto;
  margin-right: auto;
}

.p-titles {
  margin-left: auto;
  margin-right: auto;
  max-width: rem(600);
  text-align: center;
}
.p-titles p {
  margin-top: rem(30);
  text-align: initial;
}

.philosophy__contents span {
  display: block;
  color: yellow;
  font-size: rem(16);
  padding-top: rem(30);
  opacity: 0.8;
}
.philosophy__contents h2 {
  color: $white;
  font-size: rem(30);
  font-weight: 500;
}

.p-card__contents {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(20);
}
.p-cards {
  border: 1px solid #fff;
  padding: rem(10);
  color: #fff;
  align-items: center;
  display: flex;

  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    flex-direction: column;
    width: 50%;
  }
}

.p-cards time {
  color: orange;
  font-size: rem(12);
}

.p-card__texts p {
  margin-top: rem(30);
}
.p-card__texts h3 {
  margin-top: rem(20);
  font-size: ren(16);
}
.p-card__texts span {
  display: inline-block;
  margin-top: rem(20);
  padding: rem(8) rem(6);
  background-color: gray;
  color: $white;
}
.p-card__texts time {
  margin-top: rem(20);
}

.p-cards:hover .p-card img {
  transform: scale(1.2);
  transition: all 0.3s;
}
.p-cards:hover .p-card__texts {
  opacity: 0.4;
  transition: all 0.3s;
}

.p-card__img {
  overflow: hidden;
}
