@use "global" as *;

.section__btn {
  margin-top: rem(16);
  text-align: center;
  padding-top: rem(6);
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    text-align: initial;
    margin-top: rem(51);
  }
}
.group .section__btn {
  margin-top: rem(16);
  text-align: center;
  padding-top: rem(6);
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    text-align: initial;
margin-top: 0;
    margin-left: rem(48);
  }
}

.blog .section__btn {
  margin-top: rem(23);
  text-align: center;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    text-align: initial;
    margin-top: rem(48);
    text-align: center;
  }
}

.section__btn.section__btn-contact {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    padding-top: 0;
  }
}
