@use "global" as *;

.section__inner {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    height: rem(550);
    background: linear-gradient(
      to right,
      #111111 0%,
      #111111 30%,
      #333333 30%,
      #333333 100%
    );
  }
}
