@use "global" as *;

.single_page {
  margin-top: rem(50);
}

.single_inner {
  font-family: 'Noto Serif JP', serif;
  padding: 0 rem(20);
  margin-top: rem(48);
  color: #fff;
  display: grid;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    max-width: rem(1000);
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

.single_img img {
  aspect-ratio: 800/400;
  max-width: 100%;
  height: 100%;
  object-fit: cover;

  margin-top: rem(30);

  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    
  }
}
.single_title {
  font-size: rem(20);
  border-bottom: 1px solid #fff;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    font-size: rem(30);
   
  }
}

.single_title.category {
  font-size: rem(16);
  margin-top: rem(20);
  font-weight: normal;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    font-size: rem(30);
  }
}
.single_text {
  padding-top: rem(30);
  margin-top: rem(20);
  color: #fff;
  font-size: rem(13);
  line-height: 1.5em;
 
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    font-size: rem(20);
   
    margin-top: rem(45);

  }
}
.single_subtext {
  margin-top: rem(20);
  border: 1px solid #000;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
  }
}
.single_subtext {
  margin-top: rem(20);
}

.single_list {
  margin-top: rem(20);
  font-size: rem(20);
}
.single_list li {
  margin-top: rem(20);
  font-size: rem(20);
}

.group__flex.single {
  margin-top: rem(40);
}

.wp-block-group.date {
  margin-top: rem(20);
  margin-bottom: rem(20);
}
