@use "global" as *;

.sub-title {
  position: absolute;
  top: rem(-14);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(50);
  color: #f9f871;
  opacity: 20%;
  display: block;
  text-align: center;
  font-family: "Noto Serif JP", serif;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    font-size: rem(110);
    top: initial;
    width: 100%;
    max-width: rem(1040);
    text-align: inherit;
  
  }
}
.overview__sub-title.sub-title{
  position: absolute;
  top: rem(-14);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(50);
  color: #f9f871;
  opacity: 20%;
  display: block;
  text-align: center;
  font-family: "Noto Serif JP", serif;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    font-size: rem(110);
    top: initial;
  //   left: 27%;
  // top: 6%;
  width: 100%;
  max-width: rem(1040);
  text-align: start;
  }
}
.blog__sub-title.sub-title{
  position: absolute;
  top: rem(-14);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(50);
  color: #f9f871;
  opacity: 20%;
  display: block;
  text-align: center;
  font-family: "Noto Serif JP", serif;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    font-size: rem(110);
    top: initial;
    width: 100%;
    max-width: rem(1040);
    text-align: end;
  top: 4%;
  }
}
.works__sub-title.sub-title {
  position: absolute;
  top: rem(-14);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(50);
  color: #f9f871;
  opacity: 20%;
  display: block;
  text-align: center;
  font-family: "Noto Serif JP", serif;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    font-size: rem(110);
    top: initial;
    width: 100%;
    max-width: rem(1040);
    top: 4%;
    text-align: end;
  }
}

.contact__sub-title.sub-title {
  position: absolute;
  top: rem(58);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(50);
  color: #f9f871;
  opacity: 20%;
  display: block;
  text-align: center;
  font-family: "Noto Serif JP", serif;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    font-size: rem(110);
    top: 28%;
    width: 100%;
    max-width: rem(1040);
    text-align: start;
  }
}


