@use "global" as *;

.text__section {
  color: #ffffff;
  padding: rem(24) rem(21) rem(20);
  background-color: #333333;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    max-width: rem(510);
    max-height: rem(300);
    margin-left: rem(32);
    letter-spacing: 0.014em;
    line-height: 2.4;
    padding: 0;
    padding-right: rem(20);
  }
}
.overview .text__section {
  color: #ffffff;
  padding: rem(24) rem(21) rem(20);
  background-color: #333333;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    max-width: rem(510);
    max-height: rem(300);
   margin-left: 0;
    letter-spacing: 0.014em;
    line-height: 2.4;
    padding: 0;
    padding-left: rem(20);
  }
}
