@use "global" as *;

.achieve__inner {
  padding: 0 rem(20);
  margin-top: rem(48);
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    max-width: rem(1140);
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

.achieve__img img {
  aspect-ratio: 375/279;
  height: 100%;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    aspect-ratio: 525/349;
    filter: grayscale(100%);
  }
}
.work__achieve {
  position: relative;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    width: calc(50% - 3rem * 1 / 2);
  }
}
.work__achieve:nth-child(2) {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    margin-top: 0;
  }
}

.work__achieve + .work__achieve {
  margin-top: rem(48);
  display: block;
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    margin-left: rem(48);
    margin-top: 0;
  }
}

.work__achieve:nth-child(n + 3) {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    margin-top: rem(114);
  }
}
.work__achieve:nth-child(2n + 1) {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    margin-left: 0;
  }
}
.work__achieve p {
  color: $white;
  background-color: $black;
  padding: rem(8) rem(20);
}

.achieve__copy {
  position: absolute;
  top: 0;
  right: 0;
}
.achieve__title {
  color: $white;
  font-size: rem(20);
  text-align: center;
  font-weight: 400;
  margin-top: rem(24);
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    font-size: rem(20);
    margin-top: rem(12);
  }
}

.achieve__img :hover {
  @include mq("md") {
    font-size: vw(strip-unit($inner), 10);
    filter: none;
    border-radius: 10%;
    transition: all .5s;
  }
}



